#pageContainer {
  height: 100%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#home {
  height: 100vh;
  padding-top: 10%; 
}

#info {
  height: 100vh;
  padding-top: 10%; 
}

#navbar-example2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}