
$font: 'Open Sans', sans-serif;

$primary-blue: #006efd;
$secondary-blue: #0050bd;
$dark-color: #0d0d0d;
$primary-grey: #c0c0c0;
$secondary-grey: #e8e8e8;

$primary-page-height: 800px;
$secondary-page-height: 500px;
